<header class="site-header">
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark ">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">My Blog.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{url_for('main.about')}}">About</a>
            <li><a class="nav-item nav-link" href="{{url_for('main.new_post')}}">Add your post</a></li>
          </div>
          <div class="navbar-nav">
            {% if current_user.is_authenticated %}
              <li class="nav-item nav-link">{{current_user.username}}</li>
              <li><a class="nav-item nav-link" href="{{url_for('main.profile',uname=current_user.username)}}">View Profile</a></li>
              <li><a class="nav-item nav-link" href="{{url_for('auth.logout')}}">Sign out</a></li>
              {% else %}
            <a class="nav-item nav-link"  href="{{url_for('auth.login')}}">Log-in</a>
            <a class="nav-item nav-link" href="{{url_for('auth.register')}}">Sign-Up</a>
            {%endif%}
          </div>
        </div>
      </div>
    </nav>
</header>